.container {
    height: calc(100vh - 700px);
    background-color: #0DED06;
    display: flex;
  }
  
  .item {
    flex: 1;
    position: relative;
    display: flex;
   
  }
  
  .item:last-child {
    flex: 2;
    padding: 30px;
    justify-content: space-between;
  }
  
  .card {
    flex: 1;
    padding: 0 20px;
  }
  
  .title {
    font-size: 18px;
    color: blue;
  }
  
  .text {
    color: black;
  }
  
  .motto {
    color: blue;
  }
  
  @media screen and (max-width: 480px) {
    .container {
      height: auto;
      text-align: center;
    }
    .item:first-child {
      display: none;
    }
  
    .item {
      flex-direction: column;
    }
  
    .title {
      font-size: 30px;
    }
  
    .text {
      font-size: 20px;
    }
  }